body{
    margin: 0;
}

img {

  min-height:  1024px;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;    
  opacity: 0.9;
}

.container{
    position: relative;
    color: white;
}


.imageBackgound{
    
    position: absolute;
}

.weatherInfo{
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.weatherInfo h1{
    font-size: 150px;
}